<button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i>
        <img id="iconButtonUp"
             src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-up-arrows-dreamstale-lineal-dreamstale-12.png"
             alt="up">
    </i>
</button>
